/**{ margin: 0px; padding: 0px;}*/

a {
    text-decoration: none;
    color: #ffffff;
}

ul li {
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    clear: both;
    display: block;
}

body {
    font-family: 'Alegreya Sans SC';
}

.wrapper_container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0px auto;
}

/* style cho phần head */
#head {
    display: flex;
    background: black;
    height: 50px;
    font-size: 20px;
    flex: 1;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 2;
}

#logo {
    flex: 2;
}

#main_menu {
    height: 5%;
    margin: -1px;
    flex: 1;
}

#main_menu>li {
    float: left;
    color: black;
}

#main_menu>li:last-child {
    border-right: none;
}

#main_menu li {
    position: relative;
}

#main_menu>li a {
    display: block;
    text-transform: none;
    display: block;
    padding: 10px;
}

#main_menu>li>a {
    display: block;
    padding: 20px;
    padding-top: 12px;
    text-transform: uppercase;
}

#main_menu li .sub_menu {
    position: absolute;
    display: none;
    width: 150px;
    top: 0px;
    left: 100%;
    background: black;
}

#main_menu>li>.sub_menu {
    top: 50px;
    position: absolute;
    left: 0px;
}

#main_menu li:hover>.sub_menu {
    display: block;
}

#main_menu li:hover {
    background: black;
    height: 50px;
}


/* thiết kế cho phần main content */
#main_content {
    min-height: 800px;
}

/* thiết kế cho phần footer */
#footer {
    background: #f4f4f4;
    padding: 18px 0px;
    line-height: 19px;
}

.nav-link {
    font-size: 18px;
    font-weight: 700;
    display: block;
    color: #fff;
}

#onscreen-button {
    position: fixed;
    z-index: 1030;
    top: 80%;
    right: 40%;
    width: 15%;
    transition: all .5s ease;

}

#onscreen-button .btn {
    font-family: HapnaSlabSerif;
    font-size: 28px;
    font-weight: 900;
    display: block;
    color: #000;
    width: 100%;
    background-color: orange;
    border-color: orange;
    border-radius: 20px 20px 20px 20px;

}

#onscreen-button:hover {
    transform: scale(1.2);
}

#onscreen-button .btn:hover {
    color: white;
}


@media (max-width: 768px) {
    #onscreen-button {
        right: 0;
        position: fixed;
        z-index: 1030;
        width: 100%;
        bottom: 0;
        top: unset;
    }

    #onscreen-button .btn {
        font-family: HapnaSlabSerif;
        font-size: 28px;
        font-weight: 900;
        display: block;
        color: #000;
        width: 100%;
        background-color: orange;
        border-color: orange;
        border-radius: 0 0 0 0;
    }
}

@media (min-width: 768px) {
    .nav-pad {
        padding-right: 1rem;
        padding-left: .5rem;
        font-family: HapnaSlabSerif, sans-serif;
        text-transform: uppercase;
    }

    .nav-pad a{
        transition: all 0.5s ease;
    }

    .nav-pad a:hover {
        color: white;
        transform: scale(1.2);
    }
}

@font-face {
    font-family: "HapnaSlabSerif";
    src: url("../font/HapnaSlabSerif-Light.ttf") format("truetype");
    /* src:url("../font/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("../font/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("../font/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("../font/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype"); */
}